{% extends 'core/base.html' %} {% load static %} {% block corecss %}
<link rel="stylesheet" href="{%static 'service/css/service.css'%}" />
{% endblock corecss %} {%block content %}
<section id="main">
  <h1>Our Services</h1>
  <div class="cards-list container-fluid">
    <div class="card card1">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>

    <div class="card card2">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>
    <div class="card card2">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>
    <div class="card card1">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>

    <div class="card card2">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>
    <div class="card card2">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>
    <div class="card card3">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>
    <div class="card card2">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>

    <div class="card card3">
      <div class="card_image">
        <a href=""><i class="fa fa-spinner"></i></a>
      </div>
      <div class="card_title title-white">
        <h6 class="heading">Mauris placerat</h6>
        <p>Sapien sed metus congue sodales vivamus scelerisque.</p>
      </div>
      <div class="btn-read">
        <a
          href="#"
          class="btn-flip"
          data-back="Back"
          data-front="read more"
        ></a>
      </div>
    </div>
  </div>
</section>
{% endblock content %}
